.hmmmmm {
  position: absolute;
  top: 30px; left: 425px;
  transition: transform 3s;
}
.hrm {
  transform-style: preserve-3d;
  transform: rotate(15deg);
  transition: transform 3s;
}
.mmm {
  display:inline;
}

p{
  position: absolute;
  top: 50px; left: 825px;
  width: fit-content;
  margin: 0;
  display: inline;
  font-size: 63px;
  text-decoration:overline;
  text-decoration-color: rgb(70,140,50);
  color: rgb(255, 50, 200);
  font-family: fantasy;
  font-weight:100;
  font-variant-caps: small-caps;
}
